$lightgreen: lighten(rgb(0, 158, 61), 10);
$green: green;
$white: white;
$black: lighten(black, 20%);
$darkgray: darkgray;
$gray: gray;
$lightgray: lighten(lightgray, 6%);
$red: lighten(red, 25%);
$blue: saturate(dodgerblue, 10%);

$vertical-padding: 0.5rem;
$side-padding: 1rem;

$border-radius: 5px;